@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    font-family: 'IBM Plex Mono', monospace;
}

body {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
    min-height: 100vh;
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    line-height: 30px;
}

h1, h2 {
    margin-bottom: 25px;
}

.flex-btn {
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}